body{
    background: linear-gradient(to right, #A9A7CC, #ABB1D3, #AEC1DC, #B0D4E7);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    margin: 0;
}
.parentd-item{
    height: 35px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: white;
    border-radius: 50px;
}
.item-0{
    height: 50px;
    width: 50%;
    background: linear-gradient(130deg,#E4D9F1, #EAD3EC, #EAD3EC, #DEEAFD,#F4F7FF, #F9F9FF );
    border-top-right-radius: 50px;
    border-top-left-radius: 40px;
    z-index: 1;
}
.item-1{
    height: 80px;
    width: 15em;
    background-color: white;
    border-radius: 0 0 50px 50px;
    font-size: 20px;
    font-family: cursive;
    font-weight: 500;
}
.item-2{
    height: 50px;
    width: 50%;
    background-color: #F9F9FF;
    border-top-left-radius: 50px;
    border-top-right-radius: 40px;
    z-index: 1;
}
.display-flex{
    display: flex;
}
.justify-center{
    justify-content: center;
}
.align-center{
    align-items: center;
}
.column{
    flex-direction: column;
    font-family: sans-serif;
    display: flex;
    text-align: center;
}
h3{
    font-weight: 500;
}
h1{
    margin: 10 0 40 0;
    font-size: 65px;
    color: #0E47DF;
}
h2{
    color: #767784;
    font-weight: 300;
    margin-top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}
.button{
    margin-top: 30px;
    height: 60px;
    width: 10em;
    color: white;
    background-color: #181A38;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 20px;
    padding-left: 45px;
    text-align: center;
}
.left{
    left: 30%;
    bottom: 10%;
}
.right{
    right: 30%;
    bottom: 10%;
}
.bottom{
    right: 14%;
    bottom: 0;
    rotate: 10deg;
}
.email-icon{
    height: 45px;
    width: 45px;
    left: 10;
}
.height-width{
    height: 80px;
    width: 80px;
    object-fit: contain;
}
.height-width-1{
    height: 100px;
    width: 100px;
    object-fit: contain;
}
.flex-container{
    display: flex;
    align-items: center;
    height: 800px;
    width: 70%;
    border: solid white 10px;
    border-radius: 50px;
    background: linear-gradient(130deg,#E4D9F1, #EAD3EC, #EAD3EC, #DEEAFD,#F4F7FF, #F9F9FF 30%);
   
}
.position-relative{
    position: relative;
}
.position-absolute{
    position: absolute;
}
.img{
    margin-right: 10px;
    height: 32px;
    width: 32px;
}
.hand-img{
    height: 70px;
    width: 70px;
    object-fit: contain;
    margin-top: 100px;
}
.close-form{
    top: 50;
    right: 100;
    height: 45px;
    width: 45px;
    object-fit: cover;
}
.modalForm{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 1024px) {
    h1{
        font-size: xx-large;
    }
    .left{
        left: 25%;
    }
    .right{
        right: 25%;
    }
    .flex-container{
        width: 90%;
    }
    
}
@media (max-width: 768px){
    body{
        background: none;
    }
    .height-width-1{
        display: none;
    }
    .flex-container{
        width: 100%;
        border-radius: 0;
    }
    .item-1 {
        height: 75px;
    }
    .column{
        display: flex;
        text-align: center;
    }
    .height-width{
        height: 60px;
        width: 60px;
        object-fit: contain;
    }
    .left{
        left: 15%;
    }
    .right{
        right: 15%;
    }
    .item-2{
        border-top-right-radius: 0;
    }
    .item-0{
        border-top-left-radius: 0;
    }
    .item-0 {
        height: 40px;
        width: 50%;
        margin-right: -1px;
        background: linear-gradient(130deg, #E4D9F1, #EAD3EC, #EAD3EC, #DEEAFD);
        border-top-right-radius: 50px;
        z-index: 1;
}
@media (max-width: 375px) {
    h1 {
        font-size: x-large;
    }
    .height-width{
        height: 50px;
        width: 50px;
        object-fit: contain;
    }
    .left{
        left: 10%;
    }
    .right{
        right: 10%;
    }
}
@media (max-width: 425px) {
    .height-width{
        height: 50px;
        width: 50px;
        object-fit: contain;
    }
    .left{
        left: 10%;
    }
    .right{
        right: 10%;
    }
    .item-0 {
        height: 40px;
        width: 55%;
        background: linear-gradient(130deg, #E4D9F1, #EAD3EC, #EAD3EC);
        border-top-right-radius: 50px;
        z-index: 1;
    }
    
}